{% extends 'main.html' %}

{% load static %}

{% block content %}
<div class="main-content" id="panel">
    <!-- Topnav -->
    {% include 'topnav.html' %}
    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-12 col-5 text-right">
                    <a href="{% url 'new-client' %}" class="btn btn-sm btn-neutral">New client</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                    <h3 class="mb-0">Clients</h3>
                    </div>
                </div>
                </div>
                <div class="table-responsive">
                    <!-- Invoices table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                            <th scope="col">Invoices</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for oneclient in clients %}
                        <tr>
                            <th scope="row">
                            <a href="{% url 'client' oneclient.id %}">{{ oneclient.client_name }}</a>
                            </th>
                            <td>
                            {{ oneclient.client_email }}
                            </td>
                            <td>
                            {{ oneclient.client_address }}
                            </td>
                            <td>
                            {{ oneclient.invoice_set.all.count }}
                            </td>
                        </tr>
                        {% endfor %}

                        {% if not clients %}
                        <tr>
                            <td colspan="4" style="text-align: center"><i class="fas fa-space-shuttle text-error mr-3"></i> nothing to show...</td>
                        </tr>
                        {% endif %}


                        </tbody>
                    </table>
                </div>
            </div>
            {% comment %} {% include 'pagination.html' with query_set=clients custom_range=custom_range %} {% endcomment %}
        </div>
    </div>
    <!-- Footer -->
    {% include 'footer.html' %}
    </div>
</div>

{% endblock content %}