{% extends 'main.html' %}

{% load static %}

{% block content %}
<div class="main-content" id="panel">
    <!-- Topnav -->
    {% include 'topnav.html' %}
    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
        <div class="row align-items-center py-4">
            <div class="col-lg-12 col-5 text-right">
            <a href="{% url 'new-invoice' %}" class="btn btn-sm btn-neutral">New invoice</a>
            </div>
        </div>
        <!-- Card stats -->
        <div class="row">
            <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                <div class="row">
                    <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Invoices this month</h5>
                    <span class="h2 font-weight-bold mb-0">{{ last_month_invoices.count }}</span>
                    </div>
                    <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-active-40"></i>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                <div class="row">
                    <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">New clients</h5>
                    <span class="h2 font-weight-bold mb-0">{{ last_month_clients.count }}</span>
                    </div>
                    <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-chart-pie-35"></i>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                <div class="row">
                    <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Profit this month</h5>
                    <span class="h2 font-weight-bold mb-0">{{ profit_this_month|add:"0" }}$</span>
                    </div>
                    <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="ni ni-money-coins"></i>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                <div class="row">
                    <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">total invoices</h5>
                    <span class="h2 font-weight-bold mb-0">{{ invoices.count }}</span>
                    </div>
                    <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="ni ni-chart-bar-32"></i>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-8">
        <div class="card bg-default">
            <div class="card-header bg-transparent">
            <div class="row align-items-center">
                <div class="col">
                <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                <h5 class="h3 text-white mb-0">Sales value</h5>
                </div>
                <div class="col">
                <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 60, 10, 40, 15, 0, 20, 60, 80]}]}}' data-prefix="$" data-suffix="k">
                    <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Month</span>
                        <span class="d-md-none">M</span>
                    </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 100, 120]}]}}' data-prefix="$" data-suffix="k">
                    <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Week</span>
                        <span class="d-md-none">W</span>
                    </a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
            <div class="card-body">
            <!-- Chart -->
            <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-sales-dark" class="chart-canvas" data-update='{"data":{"datasets":[{"data":[0, 60, 10, 40, 15, 0, 20, 60, 80]}]}}'></canvas>
            </div>
            </div>
        </div>
        </div>
        <div class="col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent">
            <div class="row align-items-center">
                <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                <h5 class="h3 mb-0">Total invoices</h5>
                </div>
            </div>
            </div>
            <div class="card-body">
            <!-- Chart -->
            <div class="chart">
                <canvas id="chart-bars" class="chart-canvas"></canvas>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                    <h3 class="mb-0">Last invoices</h3>
                    </div>
                    <div class="col text-right">
                    <a href="{% url 'invoices' %}" class="btn btn-sm btn-primary">See all</a>
                    </div>
                </div>
                </div>
                <div class="table-responsive">
                <!-- Invoices table -->
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Invoice</th>
                        <th scope="col">Client</th>
                        <th scope="col">Total price</th>
                        <th scope="col">Date Maturity</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for invoice in last_5_invoices %}
                    <tr>
                        <th scope="row">
                        <a href="{% url 'invoice' invoice.id %}">{{ invoice.invoice_id }}</a>
                        </th>
                        <td>
                        {{ invoice.client.client_name }}
                        </td>
                        <td class="text-success">
                        {{ invoice.total_price|add:"0" }}$
                        </td>
                        <td>
                        {{ invoice.date_maturity }}
                        </td>
                    </tr>
                    {% endfor %}

                    {% if not invoices %}
                    <tr>
                        <td colspan="4" style="text-align: center"><i class="fas fa-space-shuttle text-error mr-3"></i> nothing to show...</td>
                    </tr>
                    {% endif %}


                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    {% include 'footer.html' %}
    </div>
</div>

{% endblock content %}