{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="main-content" id="panel">
    <!-- Topnav -->
    {% include 'topnav.html' %}
    <!-- Header -->
    <!-- Header -->
    <div class="header pb-6 d-flex align-items-center" style="min-height: 200px; background-image: url({% static 'argon/img/theme/profile-cover.jpg' %}); background-size: cover; background-position: center top;">
    <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
        <div class="card">
            <div class="card-header">
            <div class="row align-items-center">
                <div class="col-8">
                <h3 class="mb-0">New invoice </h3>
                </div>
            </div>
            </div>
            <div class="card-body">
            <form method="POST" action="" enctype="multipart/form-data" novalidate>
                {% csrf_token %}

                <h6 class="heading-small text-muted mb-4">Client information</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                {{ invoice.client }}
                            </div>
                        </div>
                        <div class="pl-lg-3">
                            <button type="button" class="btn btn-block btn-default" data-toggle="modal" data-target="#modal-form">Form</button>
                            <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal- modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body p-0">
                                        <div class="card bg-secondary border-0 mb-0">
                                            <div class="card-header bg-transparent pb-3">
                                                <div class="text-muted text-center mt-1 mb-1">
                                                <small>CREATE NEW CLIENT</small>
                                                </div>
                                            </div>
                                            <div class="card-body px-lg-5 py-lg-5">
                                                    <h6 class="heading-small text-muted mb-4">Client basic info</h6>
                                                    <div class="form-group mb-3">
                                                        <div class="input-group input-group-merge input-group-alternative">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                                            </div>
                                                            {{ client.client_name }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <div class="input-group input-group-merge input-group-alternative">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                                            </div>
                                                            {{ client.client_email }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <div class="input-group input-group-merge input-group-alternative">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="ni ni-badge"></i></span>
                                                            </div>
                                                            {{ client.client_ic }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <div class="input-group input-group-merge input-group-alternative">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="ni ni-briefcase-24"></i></span>
                                                            </div>
                                                            {{ client.client_dic }}
                                                        </div>
                                                    </div>
                                                    <h6 class="heading-small text-muted mb-4">Client address</h6>
                                                    <div class="form-group mb-3">
                                                        <div class="input-group input-group-merge input-group-alternative">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
                                                            </div>
                                                            {{ client.client_address }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <div class="input-group input-group-merge input-group-alternative">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="ni ni-building"></i></span>
                                                            </div>
                                                            {{ client.client_city }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <div class="input-group input-group-merge input-group-alternative">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="ni ni-world-2"></i></span>
                                                            </div>
                                                            {{ client.client_country }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <div class="input-group input-group-merge input-group-alternative">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="ni ni-square-pin"></i></span>
                                                            </div>
                                                            {{ client.client_postal_code }}
                                                        </div>
                                                    </div>
                                                    <div class="text-center">
                                                    <button type="submit" value="Create client" name="submit_client" class="btn btn-primary my-4">Create Client</button>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Transaction information</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-address">{{ invoice.account_number.label }}</label>
                                {{ invoice.account_number }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-city">{{ invoice.variable_symbol.label }}</label>
                                {{ invoice.variable_symbol }}
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4" />
                <!-- Dates -->
                <h6 class="heading-small text-muted mb-4">Exposure and maturity</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-address">{{ invoice.date_exposure.label }}</label>
                                {{ invoice.date_exposure }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-city">{{ invoice.date_maturity.label }}</label>
                                {{ invoice.date_maturity }}
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4" />
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">Text</h6>
                <div class="pl-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">{{ invoice.text.label }}</label>
                        {{ invoice.text }}
                    </div>
                </div>
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">items</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                    <h3 class="mb-0">Items for this invoice</h3>
                                    </div>
                                    <div class="col text-right">
                                    <a id="invoice_items-new" href="#!" class="btn btn-sm btn-primary">New item</a>
                                    </div>
                                </div>
                                </div>
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Amouth</th>
                                    <th scope="col">Dph</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody id="invoice_items-body">
                                    {% if items %}
                                    
                                    {% for item in items %}
                                    <tr class="invoice_items-form">
                                        <th scope="row">
                                            {{ item.name }}
                                        </th>
                                        <td>
                                            {{ item.price }}
                                        </td>
                                        <td>
                                            {{ item.amouth }}
                                        </td>
                                        <td>
                                            {{ item.dph }}
                                        </td>
                                        <td>
                                            <button class="invoice_items-close btn btn-outline-primary rounded-circle btn-sm" type="button">
                                                <span class="btn-inner--icon"><i class="ni ni-fat-remove"></i></span>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% elif item %}
                                    <tr class="invoice_items-form">
                                        <th scope="row">
                                            {{ item.name }}
                                        </th>
                                        <td>
                                            {{ item.price }}
                                        </td>
                                        <td>
                                            {{ item.amouth }}
                                        </td>
                                        <td>
                                            {{ item.dph }}
                                        </td>
                                        <td>
                                            <button class="invoice_items-close btn btn-outline-primary rounded-circle btn-sm" type="button">
                                                <span class="btn-inner--icon"><i class="ni ni-fat-remove"></i></span>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4" />
                <button type="submit" name="submit_invoice" class="btn btn-primary mt-4">Submit</button>
            </form>
            </div>
        </div>
        </div>
    </div>
    <!-- Footer -->
    {% include 'footer.html' %}
    </div>
</div>

{% endblock content %}